# IDE
.idea/
.vscode/

# Binaries
bin/
tmp/
static/
public/
scripts/
logs/
*.exe

# Dependency directories
vendor/
simpleexam

# Environment variables
.env

# Log files
*.log

# Config files with sensitive information
config/config.yaml 
certs/*.p12
certs/*.pem